@charset "UTF-8";
/*POLICES*/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Regular-webfont.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("../font/shrikhand/Shrikhand-Regular.ttf");
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Roboto";
}

a:link {
  text-decoration: none;
}

/* Couleurs identité  */ /*Animation du défilement du menu*/
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.anim-1 {
  animation-delay: 0.1s;
}
.anim-2 {
  animation-delay: 0.2s;
}
.anim-3 {
  animation-delay: 0.3s;
}
.anim-4 {
  animation-delay: 0.4s;
}
.anim-5 {
  animation-delay: 0.5s;
}
.anim-6 {
  animation-delay: 0.6s;
}
.anim-7 {
  animation-delay: 0.7s;
}
.anim-8 {
  animation-delay: 0.8s;
}
.anim-9 {
  animation-delay: 0.9s;
}
.anim-10 {
  animation-delay: 1s;
}

/* Animation du coeur*/
.fa-heart-animated {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3px;
  font-size: 0px;
  color: #9356DC;
  font-weight: bold;
  transition-duration: 0.5s;
}

/* Animation du bloc */
@keyframes off {
  from {
    opacity: 20%;
  }
  to {
    display: none;
    opacity: 0%;
    z-index: -1;
  }
}
/* Animation du bouton */
@keyframes flash {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  padding: 20px 0 7px 0;
  box-shadow: 0px 8px 23px -4px #000000;
}
.header__image {
  width: 30%;
  height: 100%;
}

.subheader {
  background-color: #eaeaea;
  justify-content: center;
  display: flex;
  color: #353535;
  align-items: center;
}
.subheader__link {
  text-decoration: none;
  color: #000;
  padding: 0 15px;
  margin: 20px 0 20px 0;
  font-size: 16px;
  font-weight: 600;
}
.subheader__link a {
  text-decoration: none;
  color: #000;
}
.subheader__icon i {
  font-size: 20px;
  color: #000;
}
.subheader__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 30vh;
}

.header1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  padding: 10px 0 10px 0;
}
.header1__back {
  font-size: 19px;
  position: absolute;
  left: 20px;
  top: 35%;
  max-width: 1440px;
}
.header1__back a {
  color: black;
}
.header1__title a {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  color: black;
}

.explore {
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px 0 20px 0;
}
.explore__title {
  margin: 0;
  font-weight: 600;
  margin-bottom: 20px;
}
.explore__subtitle {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: x-large;
  color: #555555;
}

.section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section--fonctionnement {
  display: flex;
}
.section__title {
  padding: 30px 0 0 0;
}
.section--restaurants {
  background-color: #f5f5f5;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  width: 300px;
  margin: 20px 0;
  border-radius: 16px;
  padding: 10px 0;
}
.step__number {
  padding: 5px 9px;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  margin-left: -14px;
  height: 17px;
}
.step__icon {
  color: GREY;
  font-size: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-grow: 1;
}
.step__text {
  font-weight: 600;
  font-size: 14px;
  flex-grow: 2;
}

.restaurants {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.resto {
  border-radius: 15px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  margin-top: 12px;
  margin-bottom: 20px;
  margin: 12px 12px 20px 12px;
}
.resto__image img {
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 150px;
  object-fit: cover;
}
.resto__content {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 10px 0px 0px 13px;
}
.resto__title {
  font-weight: 800;
  text-align: left;
  margin: 2px 0 2px 0;
}
.resto__subtitle {
  padding: 8px 0px 0px 0px;
  text-align: left;
  margin: 2px 0 20px 0;
}
.resto__new {
  position: absolute;
  top: 13px;
  right: 8px;
  background: #99e2d0;
  padding: 4px 13px;
  font-size: 14px;
  color: #369658;
  font-weight: 800;
}
.resto__heart {
  position: absolute;
  right: 28px;
  bottom: 30px;
  font-size: 25px;
}
.resto__heart:hover .fa-heart-animated {
  font-size: 26px;
}

@media (max-width: 1725px) {
  .restaurants {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
  }
}
.footer {
  background-color: #353535;
  padding: 18px 0px 18px 24px;
}
.footer a {
  color: white;
}
.footer__title {
  font-size: 20px;
  font-family: "shrikhand";
}
.footer__content {
  margin-top: 15px;
}
.footer__content__subtitle {
  margin-bottom: 8px;
}
.footer__content .fas {
  margin-right: 10px;
  color: white;
}
.footer__content .icon {
  font-size: 10px;
}

/* RESPONSIVE */
@media (min-width: 450px) and (max-width: 1600px) {
  .footer {
    text-align: center;
    padding: 15px 0px 15px 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1601px) {
  .footer {
    padding: 18px 0px 18px 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
/* Page de Détail */
.main--1 {
  background-color: whitesmoke;
  border-radius: 30px 30px 0px 0px;
  margin-bottom: -30px;
}
.main--1__image {
  width: 100%;
}
.main--1__content {
  display: flex;
  font-size: 21px;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 20px 0px;
}
.main--1__content__title {
  font-size: 30px;
  font-family: "shrikhand";
  padding: 0px 44px 0px 0px;
}
.main--1__content__heart  {
  position: relative;
  height: 21px;
}

#heart--icon {
  position: relative;
  height: 21px;
  cursor: pointer;
}
#heart--icon:hover .fa-heart-animated {
  font-size: 20px;
}

/* RESPONSIVE */
@media (min-width: 1025px) {
  .main--1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}
.box__menu__title {
  margin: 24px 0px 8px 18px;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 6px;
  width: 11%;
}
.box__element {
  border-radius: 10px;
  background-color: white;
  width: 92%;
  display: block;
  margin-left: auto; /*centré*/
  margin-right: auto;
  margin-top: 12px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1803921569);
  position: relative;
  animation-duration: 1s;
  animation-name: appear;
  transform: scale(0);
  animation-fill-mode: both;
}
.box__contents {
  display: flex;
}
.box__contents:hover .box__check {
  color: white;
  width: 40px;
  border-radius: 0px 10px 10px 0px;
}
.box__contents:hover .box__check i {
  transform: rotate(0deg);
}
.box__contents:hover .box__contents__left {
  width: calc(100% + 40px);
}
.box__contents:hover .box__contents__price {
  right: 12%;
}
.box__contents__left {
  display: flex;
  align-items: center;
}
.box__contents__inline {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.box__contents__inline__title {
  padding: 5px 0px 0px 10px;
  font-weight: 800;
  font-size: large;
  margin: 2px 0 2px 0;
}
.box__contents__inline__subtitle {
  padding: 5px 0px 0px 10px;
  margin: 2px 0 5px 0;
}
.box__contents__price {
  position: absolute;
  right: 5%;
  transition: all 0.3s ease;
}
.box .box__check {
  position: absolute;
  z-index: 1;
}
.box__check {
  height: 100%;
  right: 0px;
  top: 0;
  width: 0px;
  background: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.box__check i {
  color: white;
  transform: rotate(-180deg);
  transition: all 0.3s ease;
}

/*page de détail*/
@media (min-width: 450px) and (max-width: 767px) {
  .box__menu__title {
    margin-left: auto;
    margin-right: auto;
  }
  .box__element {
    width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box {
    display: flex;
  }
  .box__menu {
    width: calc(33.3% - 2px);
  }
}
@media (min-width: 1025px) {
  .box {
    display: flex;
  }
  .box__menu {
    width: calc(33.3% - 2px);
  }
}
.btn_exp {
  background-image: linear-gradient(0deg, #9356DC 1%, #FF79DA 100%);
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 250px;
  align-items: center;
  margin: 50px 0 50px 0;
  transition-duration: 1.5s;
}
.btn_exp__text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.btn_exp:hover {
  cursor: pointer;
  box-shadow: 10px 10px 36px -10px #000000;
  background: linear-gradient(0deg, rgb(166, 130, 209) 1%, rgb(255, 158, 228) 100%);
}

/* CONTAINER DE LA PAGE DE DETAIL */
.container {
  position: relative;
  width: 100%;
  top: -30px;
}

/*# sourceMappingURL=style.css.map */
