/* Couleurs identité  */

$primary :#9356DC; 
$secondary :#FF79DA;
$tertiaire : #99E2D0;
$subtitle : #555555;

$back_subheader : #eaeaea;
$color_subheader : #353535;

$back_explore : #f5f5f5;

$back_section : #f5f5f5;