.box {
  &__menu {
    &__title {
      margin: 24px 0px 8px 18px;
      border-bottom: 3px solid #99e2d0;
      padding-bottom: 6px;
      width: 11%;
    }
  }

  &__element {
    border-radius: 10px;
    background-color: white;
    margin: 0 0 0 20px;
    width: 92%;
    margin-top: 12px;
    box-shadow: 0 5px 16px #0000002e;
    position: relative;
    animation-duration: 1s;
    animation-name: appear;
    transform: scale(0);
    animation-fill-mode: both;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    &:hover .box__check {
      color: white;
      margin-right: 0;
      border-radius: 0px 10px 10px 0px;
      i {
        transform: rotate(0deg);
      }
    }
    &__left {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 10px 0px 10px 10px;
      display: flex;
      align-items: flex-end;
    }
    &__inline {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 0px 0px 10px;
        font-weight: 800;
        font-size: large;
        margin: 2px 0 2px 0;
      }
      &__subtitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 0px 0px 10px;
        margin: 2px 0 5px 0;
      }
    }
    &__right {
      display: flex;
      text-align: end;
      overflow: hidden;
      z-index: 1;
    }
    &__price {
      margin: 45px 20px 0px 20px;
      transition: all 0.3s ease;
    }
  }

  &__check {
    height: 100%;
    width: 70px;
    margin-right: -70px;
    background: #99e2d0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
    i {
      font-size: 20px;
      color: white;
      transform: rotate(-180deg);
      transition: all 0.3s ease;
    }
  }
}

/*page de détail*/


@media (min-width: 1025px) {
  .box {
    display: flex;
    &__menu {
      width: calc(33.3% - 2px);
    }
  }
}
