.section {
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  &--fonctionnement{
    display: flex;
  }
  &__title{
    padding: 30px 0 0 0;
  }
  &--restaurants{
    background-color: $back_section;
  }
}
