.step {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 16px #0000002e;
  width: 300px;
  margin: 20px 0;
  border-radius: 16px;
  padding: 10px 0;

  &__number {
    padding: 5px 9px;
    color: white;
    background-color: #9356dc;
    border-radius: 50%;
    margin-left: -14px;
    height: 17px;
  }
  &__icon {
    color: GREY;
    font-size: 16px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    flex-grow: 2;
  }
}
